.layout{
  background-color: #cfd3ce;
background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

p{
    color : #bce6eb;
}
